<body>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
          <div class="login-wrap p-4 p-md-5">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-user"></span>
            </div>
            <h3 class="text-center mb-4" style="color: #5932c5;">passer vos données d'authentification</h3>
            <form action="#" class="login-form">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control rounded-left"
                  placeholder="nom d'utilisateur"
                  name="username"
                  [(ngModel)]= "username"
                  required
                />
              </div>
              <div class="form-group d-flex">
                <input
                  type="password"
                  class="form-control rounded-left"
                  placeholder="mot de passe"
                  name="password"
                  [(ngModel)]= "password"
                  required
                />
              </div>
              <div class="form-group">
                <button
                (click)="onLogin()"
                  type="submit"
                  class="btn btn-primary rounded submit p-3 px-5"
                >
                  se connecter
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
