<body>
  <div class="title">
    <h1>un titre sera placé ici</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h4>Produit accepté</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">c1</th>
              <th scope="col">c2</th>
              <th scope="col">c3</th>
              <th scope="col">c4</th>
              <th scope="col">c5</th>
              <th scope="col">c6</th>
              <th scope="col">c7</th>
              <th scope="col">c8</th>
              <th scope="col">c9</th>
              <th scope="col">c10</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-success">
              <th scope="row">1</th>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
            </tr>
            <tr class="table-success">
              <th scope="row">2</th>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
            </tr>
            <tr class="table-success">
              <th scope="row">3</th>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-5">
        <h4>Produit refusé</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">c1</th>
              <th scope="col">c2</th>
              <th scope="col">c3</th>
              <th scope="col">c4</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-danger">
              <th scope="row">1</th>
              <td>test</td>
              <td>test</td>
              <td>test</td>
            </tr>
            <tr class="table-danger">
              <th scope="row">2</th>
              <td>test</td>
              <td>test</td>
              <td>test</td>
            </tr>
            <tr class="table-danger">
              <th scope="row">3</th>
              <td>test</td>
              <td>test</td>
              <td>test</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    
    <div class="row">
        <h4 class="sub-title">Le titre du grand tableau</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">c1</th>
            <th scope="col">c2</th>
            <th scope="col">c3</th>
            <th scope="col">c4</th>
            <th scope="col">c5</th>
            <th scope="col">c6</th>
            <th scope="col">c7</th>
            <th scope="col">c8</th>
            <th scope="col">c9</th>
            <th scope="col">c10</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-success">
            <th scope="row">1</th>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
          </tr>
          <tr class="table-success">
            <th scope="row">2</th>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
          </tr>
          <tr class="table-success">
            <th scope="row">3</th>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
